<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
         <!-- Compiled and minified JavaScript -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    </head>
    <body>
      <header>
        <nav class="orange lighten-1" role="navigation">
          <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">eBUY</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/user">Our Users</a></li>
              <li><a href="/product">And their products on sale !</a></li>
            </ul>
      </header>
      <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
      </div>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">About Us</h5>
              <p class="grey-text text-lighten-4">Welcome to eBUY Beta Version !</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="/logout">Logout</a></li>
                <li><a class="grey-text text-lighten-3" href="/register">Not registered yet ? Sign in !</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2017 Copyright Text
          </div>
        </div>
      </footer>
    </body>
</html>
